In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("Generative AI Tools - Platforms 2025.csv")

In [4]:
import os

In [5]:
os.getcwd()

'/Users/yashsaxena/Desktop/data science/data analytics'

In [6]:
os.chdir('..')

In [9]:
df.columns

Index(['tool_name', 'company', 'category_canonical', 'modality_canonical',
       'open_source', 'api_available', 'api_status', 'website',
       'source_domain', 'release_year', 'years_since_release', 'mod_text',
       'mod_image', 'mod_video', 'mod_audio', 'mod_code', 'mod_design',
       'mod_infra', 'mod_productivity', 'mod_safety', 'mod_multimodal',
       'modality_count'],
      dtype='object')

In [8]:
df.rename(columns={'tool_name':'name', 'category_canonical':'category','modality_canonical':'type','release_year':'year'},inplace=True)

In [9]:
df.head()

,name,company,category,type,open_source,api_available,api_status,website,source_domain,year,...,mod_image,mod_video,mod_audio,mod_code,mod_design,mod_infra,mod_productivity,mod_safety,mod_multimodal,modality_count
0,ChatGPT,OpenAI,LLMs & Chat Assistants,multimodal,0,1,api,https://chatgpt.com,chatgpt.com,2022,...,0,0,0,0,0,0,0,0,1,0
1,Claude,Anthropic,LLMs & Chat Assistants,multimodal,0,1,api,https://claude.ai,claude.ai,2023,...,0,0,0,0,0,0,0,0,1,0
2,Gemini,Google,LLMs & Chat Assistants,multimodal,0,1,api,https://gemini.google.com,gemini.google.com,2023,...,0,0,0,0,0,0,0,0,1,0
3,Midjourney,Midjourney,Image Gen & Editing,image,0,0,unavailable,https://www.midjourney.com,midjourney.com,2022,...,1,0,0,0,0,0,0,0,0,1
4,Stable Diffusion,Stability AI,Image Gen & Editing,image,1,1,api,https://stability.ai/stable-image,stability.ai,2022,...,1,0,0,0,0,0,0,0,0,1

In [10]:
df.drop(columns=df.columns[-11:],inplace=True)

In [11]:
df.head()

,name,company,category,type,open_source,api_available,api_status,website,source_domain,year,years_since_release
0,ChatGPT,OpenAI,LLMs & Chat Assistants,multimodal,0,1,api,https://chatgpt.com,chatgpt.com,2022,3
1,Claude,Anthropic,LLMs & Chat Assistants,multimodal,0,1,api,https://claude.ai,claude.ai,2023,2
2,Gemini,Google,LLMs & Chat Assistants,multimodal,0,1,api,https://gemini.google.com,gemini.google.com,2023,2
3,Midjourney,Midjourney,Image Gen & Editing,image,0,0,unavailable,https://www.midjourney.com,midjourney.com,2022,3
4,Stable Diffusion,Stability AI,Image Gen & Editing,image,1,1,api,https://stability.ai/stable-image,stability.ai,2022,3

In [12]:
df.to_csv('processed_dataset.csv')

In [13]:
df.groupby('category').count()

,name,company,type,open_source,api_available,api_status,website,source_domain,year,years_since_release
category,,,,,,,,,,
Audio/Music/TTS,6,6,6,6,6,6,6,6,6,6
Code Assistants,1,1,1,1,1,1,1,1,1,1
Design & UI,4,4,4,4,4,4,4,4,4,4
Evaluation & Benchmarks,2,2,2,2,2,2,2,2,2,2
Image Gen & Editing,12,12,12,12,12,12,12,12,12,12
Infra & Inference,3,3,3,3,3,3,3,3,3,3
LLMs & Chat Assistants,32,32,32,32,32,32,32,32,32,32
Other,27,27,27,27,27,27,27,27,27,27
Productivity & Copilots,1,1,1,1,1,1,1,1,1,1
Safety & Guardrails,5,5,5,5,5,5,5,5,5,5
Search & RAG,6,6,6,6,6,6,6,6,6,6
Speech-to-Text (ASR),1,1,1,1,1,1,1,1,1,1
Video Gen & Editing,13,13,13,13,13,13,13,13,13,13

In [14]:
df.groupby('open_source').count()

,name,company,category,type,api_available,api_status,website,source_domain,year,years_since_release
open_source,,,,,,,,,,
0,71,71,71,71,71,71,71,71,71,71
1,42,42,42,42,42,42,42,42,42,42