In [1]:
import os

In [3]:
os.getcwd()

'/Users/yashsaxena/Desktop/data science/data analytics'

In [4]:
os.chdir('..')

In [5]:
import pandas as pd

In [21]:
df = pd.read_excel('Canada.xlsx',sheet_name='Canada by Citizenship',skiprows=20,skipfooter=1)

In [22]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [23]:
df.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407
195,Immigrants,Foreigners,Unknown,999,World,999,World,999,World,44000,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484

In [24]:
df.rename(columns={'OdName':'Country','AreaName':'Continent'},inplace=True)

In [25]:
df.head()

,Type,Coverage,Country,AREA,Continent,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [28]:
df.drop(columns=['Type','Coverage','AREA','REG','DEV'],inplace=True)

In [29]:
df.head()

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

In [32]:
df.isnull()

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
df.set_index('Country', inplace=True)

In [34]:
df.head()

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1450,1223,856,702,560,716,561,539,620,603
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,0,1,1,0,0,0,0,1,1

In [36]:
df.loc['India']

Continent                  Asia
RegName           Southern Asia
DevName      Developing regions
1980                       8880
1981                       8670
1982                       8147
1983                       7338
1984                       5704
1985                       4211
1986                       7150
1987                      10189
1988                      11522
1989                      10343
1990                      12041
1991                      13734
1992                      13673
1993                      21496
1994                      18620
1995                      18489
1996                      23859
1997                      22268
1998                      17241
1999                      18974
2000                      28572
2001                      31223
2002                      31889
2003                      27155
2004                      28235
2005                      36210
2006                      33848
2007                      28742
2008                      28261
2009                      29456
2010                      34235
2011                      27509
2012                      30933
2013                      33087
Name: India, dtype: object

In [38]:
df.groupby('Continent').count()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
Asia,49,49,49,49,49,49,49,49,49,49,...,49,49,49,49,49,49,49,49,49,49
Europe,43,43,43,43,43,43,43,43,43,43,...,43,43,43,43,43,43,43,43,43,43
Latin America and the Caribbean,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
Northern America,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Oceania,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
World,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [40]:
df.groupby('Continent').sum().head()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,Northern AfricaMiddle AfricaWestern AfricaSout...,Developing regionsDeveloping regionsDeveloping...,3951,4363,3819,2671,2639,2650,3782,7494,...,28192,27523,29188,28284,29890,34534,40892,35441,38083,38543
Asia,Southern AsiaWestern AsiaWestern AsiaWestern A...,Developing regionsDeveloping regionsDeveloping...,31025,34314,30214,24696,27274,23850,28739,43203,...,134850,159253,149054,133459,139894,141434,163845,146894,152218,155075
Europe,Southern EuropeSouthern EuropeWestern EuropeEa...,Developed regionsDeveloped regionsDeveloped re...,39760,44802,42720,24638,22287,20844,24370,46698,...,38082,35955,33053,33495,34692,35078,33425,26778,29177,28691
Latin America and the Caribbean,CaribbeanSouth AmericaCaribbeanCaribbeanCentra...,Developing regionsDeveloping regionsDeveloping...,13081,15215,16769,15427,13678,15171,21179,28471,...,22181,24747,24676,26011,26547,26867,28818,27856,27173,24950
Northern America,Northern AmericaNorthern America,Developed regionsDeveloped regions,9378,10030,9074,7100,6661,6543,7074,7705,...,6990,8394,9613,9463,10190,8995,8142,7677,7892,8503

In [42]:
years = [i for i in range(1980,2014)]

In [44]:
conti_sum = df.groupby('Continent').sum()[years]

In [46]:
conti_sum.sort_values(by=2010,ascending=False)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Asia,31025,34314,30214,24696,27274,23850,28739,43203,47454,60256,...,134850,159253,149054,133459,139894,141434,163845,146894,152218,155075
Africa,3951,4363,3819,2671,2639,2650,3782,7494,7552,9894,...,28192,27523,29188,28284,29890,34534,40892,35441,38083,38543
Europe,39760,44802,42720,24638,22287,20844,24370,46698,54726,60893,...,38082,35955,33053,33495,34692,35078,33425,26778,29177,28691
Latin America and the Caribbean,13081,15215,16769,15427,13678,15171,21179,28471,21924,25060,...,22181,24747,24676,26011,26547,26867,28818,27856,27173,24950
Northern America,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,...,6990,8394,9613,9463,10190,8995,8142,7677,7892,8503
World,44000,18078,16904,13635,14855,14368,13303,17304,22279,27118,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484
Oceania,1942,1839,1675,1018,878,920,904,1200,1181,1539,...,1788,1585,1473,1693,1834,1860,1834,1548,1679,1775

In [48]:
df.groupby('Continent').max()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,Western Africa,Developing regions,1026,1118,781,474,473,460,718,1470,...,3686,3626,4807,4021,4226,5532,6242,4663,5555,4331
Asia,Western Asia,Developing regions,8880,8670,8147,7338,7583,5907,7150,10189,...,36619,42584,33848,28742,30037,29622,38617,36765,34315,34129
Europe,Western Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,21337,...,7533,7258,7140,8216,8979,8876,8724,6204,6280,5827
Latin America and the Caribbean,South America,Developing regions,3198,3692,3575,2860,2666,2938,4649,6174,...,4566,6424,6535,5357,5452,4652,5218,6503,5868,4152
Northern America,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,7074,7705,...,6990,8394,9613,9463,10190,8995,8142,7676,7891,8501
Oceania,Polynesia,Developing regions,702,705,814,554,389,446,361,523,...,930,909,875,1033,1018,1018,933,851,982,1121
World,World,World,44000,18078,16904,13635,14855,14368,13303,17304,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484

In [49]:
df.groupby('Continent').min()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Asia,Central Asia,Developed regions,0,0,0,0,0,0,0,0,...,1,0,0,2,1,5,4,3,1,1
Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,5,16,7,18,...,8,11,3,10,9,11,13,11,16,4
Northern America,Northern America,Developed regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
Oceania,Australia and New Zealand,Developed regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
World,World,World,44000,18078,16904,13635,14855,14368,13303,17304,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484

In [51]:
df[df[2005]==df[2005].max()]

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129

In [52]:
df[df[2005]==df[2005].min()]

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,0,1,1,0,0,0,0,1,1
Canada,Northern America,Northern America,Developed regions,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,1,0,0,2,1,7,4,3,1,1
Marshall Islands,Oceania,Micronesia,Developing regions,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
Montenegro,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,0,0,0,7,19,10,14,19,26,9
New Caledonia,Oceania,Melanesia,Developing regions,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2
Palau,Oceania,Micronesia,Developing regions,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
San Marino,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
Serbia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,0,0,3,50,259,365,271,299,395,297
Tuvalu,Oceania,Polynesia,Developing regions,0,1,0,0,1,0,0,...,2,0,0,1,0,0,0,1,0,0
Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [54]:
df.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,...,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,730.290816,656.331633,618.239796,455.025510,450.367347,430.336735,506.892857,775.892857,824.413265,977.295918,...,1203.173469,1337.969388,1283.877551,1207.923469,1261.448980,1286.581633,1432.076531,1269.122449,1315.831633,1321.535714
std,3664.971286,2484.869895,2198.843498,1529.175952,1580.492649,1469.775915,1529.161726,2415.374270,2883.263236,3164.973367,...,3705.454268,4421.525944,3923.791864,3442.092092,3691.110002,3822.816364,4454.546970,4020.795822,4236.731113,4227.087570
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.750000,0.750000,1.000000,1.000000,...,20.000000,28.750000,25.500000,31.500000,31.500000,36.500000,41.250000,37.750000,42.750000,45.000000
50%,13.500000,10.000000,11.500000,12.000000,13.500000,17.000000,19.500000,29.500000,35.000000,44.500000,...,193.500000,210.500000,224.000000,198.000000,205.000000,215.500000,213.500000,187.500000,234.000000,215.000000
75%,263.000000,296.750000,292.250000,181.250000,189.000000,199.000000,257.000000,451.250000,426.500000,526.750000,...,789.500000,852.500000,849.250000,940.500000,956.250000,907.250000,938.000000,815.750000,790.000000,826.500000
max,44000.000000,24796.000000,20620.000000,13635.000000,14855.000000,14368.000000,13303.000000,21337.000000,27359.000000,27118.000000,...,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000

In [59]:
Asia = df[df['Continent']=='Asia']

In [63]:
Asia.sort_values(by=2000,ascending=False).head()

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509

In [66]:
df[years].sum(axis=1)

Country
Afghanistan        58639
Albania            15699
Algeria            69439
American Samoa         6
Andorra               15
                   ...
Western Sahara         2
Yemen               2985
Zambia              1677
Zimbabwe            8598
Unknown           515059
Length: 196, dtype: int64

In [67]:
df['Total'] = df[years].sum(axis=1)

In [68]:
df.head()

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [82]:
EuropeDev = df[df['Continent']=='Europe']

In [83]:
EuropeDev

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15
Austria,Europe,Western Europe,Developed regions,234,238,201,117,127,165,196,...,122,102,98,91,109,124,84,102,90,4985
Belarus,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,558,439,568,524,454,438,357,277,247,7975
Belgium,Europe,Western Europe,Developed regions,511,540,519,297,183,181,197,...,400,302,363,335,358,363,332,402,379,10762
Bosnia and Herzegovina,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,211,217,209,182,156,168,140,121,119,21855
Bulgaria,Europe,Eastern Europe,Developed regions,24,20,12,33,11,24,33,...,1738,1419,1172,994,784,556,365,451,512,23310
Croatia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,128,102,102,131,92,91,135,112,125,8001
Czech Republic,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,193,146,137,104,159,168,128,173,174,4192
Denmark,Europe,Northern Europe,Developed regions,272,293,299,106,93,73,93,...,62,101,97,108,81,92,93,94,81,3901
Estonia,Europe,Northern Europe,Developed regions,0,0,0,0,0,0,0,...,26,18,34,34,26,28,15,26,45,935
Finland,Europe,Northern Europe,Developed regions,208,205,170,70,83,69,68,...,67,51,62,89,63,63,72,62,76,2781
France,Europe,Western Europe,Developed regions,1729,2027,2219,1490,1169,1177,1298,...,4429,4002,4290,4532,5051,4646,4080,6280,5623,109091
Germany,Europe,Western Europe,Developed regions,1626,1977,3062,2376,1610,1441,1233,...,2226,2767,2449,3833,3887,2956,2053,1702,1217,63912
Greece,Europe,Southern Europe,Developed regions,1065,953,897,633,580,584,547,...,100,74,110,107,119,101,102,146,298,12410
Hungary,Europe,Eastern Europe,Developed regions,205,310,397,337,310,522,647,...,516,520,425,383,312,354,287,300,425,16822
Iceland,Europe,Northern Europe,Developed regions,17,33,10,9,13,6,11,...,10,2,15,13,15,30,38,42,72,570
Ireland,Europe,Northern Europe,Developed regions,781,895,707,298,327,287,481,...,224,283,300,412,395,547,525,725,1015,16964
Italy,Europe,Southern Europe,Developed regions,1820,2057,1480,820,858,667,731,...,344,325,320,370,429,434,374,440,545,22624
Latvia,Europe,Northern Europe,Developed regions,0,0,0,0,0,0,1,...,77,69,88,67,85,70,103,202,213,2326
Liechtenstein,Europe,Western Europe,Developed regions,1,4,2,0,0,3,0,...,1,0,0,1,1,0,2,1,0,40
Lithuania,Europe,Northern Europe,Developed regions,1,1,0,0,0,1,0,...,167,113,108,109,63,57,52,77,145,2414
Luxembourg,Europe,Western Europe,Developed regions,14,4,2,5,1,3,6,...,10,9,9,3,5,8,11,6,7,215
Malta,Europe,Southern Europe,Developed regions,191,242,153,64,60,68,76,...,28,24,7,21,18,17,8,9,4,1546
Monaco,Europe,Western Europe,Developed regions,0,0,0,0,0,1,0,...,1,1,1,0,0,4,1,3,1,29
Montenegro,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,0,0,7,19,10,14,19,26,9,105
Netherlands,Europe,Western Europe,Developed regions,1889,1858,1852,716,560,510,539,...,813,837,615,818,786,759,586,504,395,26884
Norway,Europe,Northern Europe,Developed regions,116,77,106,51,31,54,56,...,57,53,73,66,75,46,49,53,59,2327
Poland,Europe,Eastern Europe,Developed regions,863,2930,5881,4546,3588,2819,4808,...,1405,1263,1235,1267,1013,795,720,779,852,139241
Portugal,Europe,Southern Europe,Developed regions,4473,3486,2432,1433,1398,1451,2617,...,338,424,405,665,623,629,528,560,630,74167
Republic of Moldova,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,655,803,1099,1127,1535,1988,1367,1416,1231,15381
Romania,Europe,Eastern Europe,Developed regions,375,438,583,543,524,604,656,...,5048,4468,3834,2837,2076,1922,1776,1588,1512,93585
Russian Federation,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,3972,3117,2983,2690,2931,2288,1963,2079,2466,63344
San Marino,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,5
Serbia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,0,3,50,259,365,271,299,395,297,1939
Slovakia,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,369,241,215,125,128,135,134,136,105,5963
Slovenia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,23,11,29,18,27,12,13,36,20,523
Spain,Europe,Southern Europe,Developed regions,211,299,260,133,137,98,121,...,126,124,137,169,195,174,179,262,331,5018
Sweden,Europe,Northern Europe,Developed regions,281,308,222,176,128,158,187,...,205,139,193,165,167,159,134,140,140,5866
Switzerland,Europe,Western Europe,Developed regions,806,811,634,370,326,314,294,...,270,258,308,357,328,285,266,243,201,15678
The former Yugoslav Republic of Macedonia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,285,256,211,191,198,188,130,126,112,4637
Ukraine,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,2270,1973,2218,1937,2367,3159,2515,2265,2487,51410
United Kingdom of Great Britain and Northern Ireland,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500

In [90]:
EuropeDev[range(2005,2014)].sum()

2005    35955
2006    33053
2007    33495
2008    34692
2009    35078
2010    33425
2011    26778
2012    29177
2013    28691
dtype: int64